In [4]:
from IPython.display import display, HTML
  
import pandas as pd
import numpy as np

In [5]:
dict = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }

In [11]:
display(dict)

{'Name': ['Martha', 'Tim', 'Rob', 'Georgia'],
 'Maths': [87, 91, 97, 95],
 'Science': [83, 99, 84, 76]}

In [10]:
df = pd.DataFrame(dict)
  
display(df)

      Name  Maths  Science
0   Martha     87       83
1      Tim     91       99
2      Rob     97       84
3  Georgia     95       76

pandas.core.frame.DataFrame

In [ ]:
  
df2 = {'Name': 'Amy', 'Maths': 89, 'Science': 93}
df = df.append(df2, ignore_index = True)

In [ ]:
  
display(df)